@import "./node_modules/bootstrap/scss/bootstrap";
// ************************ MAIN NAV ****************************
// ***************************************************************
#login-dp{
    width: 300px;
    padding: 1rem;
}
.help-block{
    margin-bottom: 8px;
}
// ************************ HERO AREA ****************************
// ***************************************************************
.btn-hero{
    width: 200px;
}
#hero-img{
    height: 300px;
    overflow: hidden;
    img{height: 100%;}
}
// Medium devices (tablets, 768px and up)
@media (max-width: 991.98px) {
    .btn-hero{
        margin-top: 15px;
    }
}

.btn-facebook{
    font-size: 1.5rem;
    color: #4267B2;
    &:hover{
        color: #4267B2;
        transform: scale(1.2);
        // opacity: 0.8;
        transition: all 0.2s;
    }
}
.btn-google{
    font-size: 1.5rem;
    color: #DB4437;
    &:hover{
        color: #DB4437;
        transform: scale(1.2);
        // opacity: 0.8;
        transition: all 0.2s;
    }
}





